<form method="post" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="container border p-4">
        <div class="row text-center p-3">
            <h1>Register</h1>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 offset-md-3 pb-2">
                <input class="form-control" placeholder="Email..." formControlName="email"/>
                <div *ngIf="email?.invalid && (email?.touched || email?.dirty)">
                    <small *ngIf="email?.errors?.['required']" class="text-danger">Email is required.</small>
                    <small *ngIf="email?.errors?.['pattern']" class="text-danger">
                        Email format is invalid.
                    </small>
                </div>
            </div>
            <div class="col-12 col-md-6 offset-md-3 pb-2">
                <input class="form-control" placeholder="Name..." formControlName="name"/>
                <div *ngIf="name?.invalid && (name?.touched || name?.dirty)">
                    <small *ngIf="name?.errors?.['required']" class="text-danger">Name is required.</small>
                </div>
            </div>
            <div class="col-12 col-md-6 offset-md-3 pb-2">
                <input class="form-control" placeholder="Phone Number..." formControlName="phone"/>
                <div *ngIf="phone?.invalid && (phone?.touched || phone?.dirty)">
                    <small *ngIf="phone?.errors?.['required']" class="text-danger">Phone is required.</small>
                </div>
            </div>
            <div class="col-12 col-md-6 offset-md-3 pb-2">
                <input class="form-control" type="password" placeholder="Password..." formControlName="password"/>
                <div *ngIf="password?.invalid && (password?.touched || password?.dirty)">
                    <small *ngIf="password?.errors?.['required']" class="text-danger">Password is required.</small>
                    <small *ngIf="password?.errors?.['minlength']" class="text-danger">
                        Password must be at least 8 characters long.
                    </small>
                    <small *ngIf="password?.errors?.['pattern']" class="text-danger">
                        Password must include 1 uppercase letter, 1 digit, and 1 special character.
                    </small>
                </div>
            </div>
            <div class="col-12 col-md-6 offset-md-3 pb-2">
                <select class="form-select" formControlName="role">
                    <option value="" disabled selected>--Select Role--</option>
                    <option value="CUSTOMER">CUSTOMER</option>
                    <option value="ADMIN">ADMIN</option>
                </select>
                <div *ngIf="registerForm.get('role')?.touched && registerForm.get('role')?.hasError('firstOptionNotAllowed')">
                    Please select a role.
                  </div>            </div>

            <div class="col-12 col-md-6 offset-md-3 pb-2">
                <button type="submit" class="form-control btn btn-success" value="Submit" [disabled]="registerForm.invalid || registerForm.pristine || registerForm.value.role == '--Select Role--'">Register</button>
            </div>
        </div>
    </div>
</form>
